 <!-- header -->
<!-- 
<div class="container-fluid header">
    <header>
        Armando Quinanga 
    </header>
</div>
-->
<!-- end header -->

<!-- menu navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto col-sm-3 col-md-3">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lorem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lorem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lorem</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-secondary my-2 my-sm-0" type="button"
                data-toggle="modal" data-target="#loginModal" (click)="logout()">Sair</button>
        </form>
    </div>
</nav>
<!-- end navbar -->

<!-- content -->

<div class="container-fluid">
    <div class="content row">
        <div class="col-md-2">left sidebar</div>
        <div class="col-md-8 text-center">content</div>
        <div class="col-md-2">Right Sidebar</div>

    </div>
</div>

<footer>© 2018-2019</footer>
<!-- this template is made by silvan paul 

<div class="container">
    <app-navbar></app-navbar>
    <strong>Logado com sucesso!</strong>
    <button type="button" (click)="logout()">Sair</button>
</div>

-->