
<div class="wrapper">
    <aside id="sidebar">
        <!-- Content For Sidebar -->
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">Campeonato Futebol</a>
            </div>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Menu
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/">
                        <i class="fa-solid fa-list pe-2"></i>
                        Home
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="campeonato">
                        <i class="fa-solid fa-trophy pe-2"></i>
                        Campeonato
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/classificacao">
                        <i class="fa-solid fa-table pe-2"></i>
                        Tabela Classificativa
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/marcadores">
                        <i class="fa-solid fa-medal pe-2"></i>
                        Marcadores
                    </a>
                </li>
            </ul>
        </div>

    </aside>
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                            class="nav-icon pe-md-0">
                            <img src="assets/img/profile.jpg"
                                class="avatar img-fluid rounded" alt>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Setting</a>
                            <a href="#" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <router-outlet></router-outlet>
        </main>
        <app-footer></app-footer>

    </div>
</div>